/* <!--header css--> */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

/* <!--main body css--> */
  main {
    display: flex;
    position: relative;
    align-items: stretch;
    align-content: center;
    width: auto;
    flex-direction: row;
    top: 100px;
    justify-content: space-between;
  }

  main p {
    font-family: Georgia;
    font-size: 17px;
    color: black;
  }

/* <!-- first column--> */

  main .large{
    display: inline-flex;
    width: 630px;
    border: 1px solid black;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 30px;
    justify-content: space-between;
  }

    /* <!--first section--> */

  .large .section-1-1 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  .section-1-1-pic {
    width: 100%;
    border: 1px solid black;
    background-image: url('../resources/pictures/wine glass.png'); <!-- use ../ in front of the local path to make it render properly-->
  }

  .section-1-1-pic h2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
  }

  .section-1-1-pic p {
    width: 315px;
    height: 315px;
  }


    /* <!--second section--> */

  .large .section-1-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }

  .section-1-2-pic {
    width: 315px;
    height: 300px;
    background-image: url('../resources/pictures/girl looking at trees.png');
    border: 1px solid black;
  }

    .section-1-2-pic h2 {
      font-family: Georgia;
      font-weight: bold;
      font-size: 30px;
      color: white;
    }

    .section-1-2-pic p {
      width: 315px;
      height: 315px;
    }


      /* <!-- third section--> */

  .large .section-1-3 {
    display: flex;
    border: 1px solid black;
  }

  .section-1-3-pic {
    width: 315px;
    height: 315px
    background-image: url('../resources/pictures/guy with camera.png');
    border: 1px solid black;
  }

    .section-1-3-pic h2 {
      font-family: Georgia;
      font-weight: bold;
      font-size: 30px;
      color: white;
    }

    .section-1-3-pic p {
      width: 315px;
      height: 315px;
    }


  /* <!-- second column--> */

  main .medium {
    width: 300px;
    flex-grow: 1;
    margin-right: 30px;
    border: 1px solid black;
  }

      /* <!-- second section--> */

    .section-2-2-pic {
      width: 100%;
      background-image: url('../resources/pictures/girl with cat.png');
      border: 1px solid black;
    }

      .section-2-2-pic h2 {
        font-family: Georgia;
        font-weight: bold;
        font-size: 30px;
        color: white;
      }

/* <!-- third column--> */

  main .small {
    width: 240px;
    flex-grow: 1;
    border: 1px solid black;
  }

      /* <!-- second section--> */

  .section-3-2 {
        border: 1px solid black;
  }
